<form [formGroup]="addressForm" (ngSubmit)="onAddressSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Enter Property Address</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Address</mat-label>
          <input matInput id="address" formControlName="address" type="text" #addressInput required aria-label="Enter your address">
          <mat-error *ngIf="addressForm.get('address')?.invalid">Address is required</mat-error>
        </mat-form-field>
        <div id="map" style="height: 300px; margin-top: 20px;"></div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="addressForm.invalid" class="next-button">Next</button>
      </mat-card-actions>
    </mat-card>
  </form>
  
  