<header>
    <div class="navbar-container">
      <div class="logo-container">
        <img src="assets/images/logo.png" alt="Titan Estates Logo" class="logo">
        <div class="logo-text">
          <span class="titan">TITAN</span><br>
          <span class="estates">ESTATES</span>
        </div>
      </div>
      <nav class="navbar">
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/about">About</a>
        <a mat-button routerLink="/services">Services</a>
        <a mat-button routerLink="/offer-form">Get Offer</a>
        <a mat-button routerLink="/contact">Contact</a>
      </nav>
      <button class="hamburger" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
    </div>
    <div class="mobile-menu" [class.open]="isMenuOpen">
      <a mat-button routerLink="/" (click)="toggleMenu()">Home</a>
      <a mat-button routerLink="/about" (click)="toggleMenu()">About</a>
      <a mat-button routerLink="/services" (click)="toggleMenu()">Services</a>
      <a mat-button routerLink="/offer-form" (click)="toggleMenu()">Get an Offer</a>
      <a mat-button routerLink="/contact" (click)="toggleMenu()">Contact</a>
    </div>
  </header>
  