<main>
  <section class="services">
    <h2>Our Services</h2>
    <div class="service-container">
      <div class="service-box">
        <div class="service">
          <img src="assets/icons/lightning.svg" alt="Quick Cash Close" class="service-icon">
          <h3>Quick Cash Close</h3>
          <p>At Titan Estates, we can close on your house in as little as 7 days. This process eliminates the need for financing contingencies, bypasses appraisal and inspection contingencies, and provides instant cash, making it ideal for sellers in difficult situations like divorce or job loss. Our streamlined approach reduces paperwork and removes the risk of a deal falling through due to financing issues, allowing you to move quickly and with peace of mind.</p>
        </div>
      </div>
      <div class="service-box">
        <div class="service">
          <img src="assets/icons/seller-finnance.svg" alt="Seller Finance" class="service-icon">
          <h3>Seller Finance</h3>
          <p>Our seller financing options enable you to cash flow your mortgage, offering benefits such as faster closings and avoiding commission fees. This method allows sellers to avoid traditional financing hurdles, making the process smoother and often quicker. By offering financing to buyers, sellers can sometimes achieve a higher selling price and attract a broader range of buyers.</p>
        </div>
      </div>
      <div class="service-box">
        <div class="service">
          <img src="assets/icons/crypto.svg" alt="Crypto Transactions" class="service-icon">
          <h3>Crypto Transactions</h3>
          <p>We offer the option to buy or sell houses using cryptocurrency on the blockchain. This method provides transparency and security for both buyers and sellers. Transactions are processed quickly and can reduce the costs associated with traditional real estate transactions. Using blockchain technology, we ensure a seamless transfer of property ownership that benefits both parties.</p>
          <span class="coming-soon">Coming Soon</span>
        </div>
      </div>
    </div>
  </section>

  <section class="offer-form">
    <button class="get-offer-button" routerLink="/offer-form">Get Offer</button>
  </section>
</main>
